 {% load static %}

    {% block content %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<form action="{% url 'newcopybook' %}">
<div class="line">
    <div class="column">
        <h3>Название новой тетради</h3>
        <input type="text" class="ttext" >
       
            <table>
                <tr >
                    <td class="td1"><div>&nbsp</div> </td>
                    <td class="td2"><div ><p>Название<br>параметра</p></div></td>
                    <td class="td3"><div ><p>Параметры<br>поиска</p></div></td>
                    <td class="td4"><div ><p>Сортировать <br> </p></div></td>
                </tr>
                <tr  class="a1">
                    <td class="td1"><div ><input type="checkbox" class="apar" name="a1td1"></div></td>
                    <td class="td2"><input type="text" class="aname" name="a1td2"></td>
                    <td class="td3"><input type="checkbox" class="aonn"name="a1td3" ></td>
                    <td class="td4"><input type="checkbox" class="alist" name="a1td4"></td>
                </tr>
                 <tr class="a2">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr  class="a3">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a4">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr  class="a5">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a6">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr  class="a7">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a8">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>

                <tr  class="a9">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a10">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr  class="a11">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a12">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr  class="a13">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a14">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr  class="a15">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a16">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                 <tr  class="a17">
                    <td class="td1"><div ><input type="checkbox" class="apar"></div></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="a18">
                    <td class="td1"><input type="checkbox" class="apar"></td>
                    <td class="td2"><input type="text" class="aname"></td>
                    <td class="td3"><input type="checkbox" class="aonn"></td>
                    <td class="td4"><input type="checkbox" class="alist"></td>
                </tr>
                <tr class="t19">
                    <td><input type="checkbox" class="apar"></td>
                    <td><input type="text" class="aname"></td>
                </tr>
                <tr class="t20">
                    <td><input type="checkbox" class="apar"></td>
                    <td><input type="text" class="aname"></td>
                </tr>

            </table>

        
    </div>
    <div class="column">
        <h3>Укажите путь к чертежу тетради</h3><input type="text" class="ttext">
        <div class="line"><div class="box10"></div><button value=''><p>Загрузить</p> </button><div class="box10"></div></div>
        <div><embed src="{% static '/rebro.pdf' %}" alt="Пояснительная картинка" width="420" height="600px"></div>
        
        <div class="line"><div class="box10"></div><button value=''><p>Создать</p> </button><div class="box10"></div></div>
    </div>
</div>
</form>
</body>
{% endblock %}