<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Open a PDF file <a href="D:\Diplom\dipp\myrezume\media\arbeit\media\NS_nSHBsUF.pdf">example</a>.</p>
<div><embed src="D:\Diplom\dipp\myrezume\media\arbeit\media\NS_nSHBsUF.pdf" alt="Чертеж" width="840px" height="420px">
    <a href="D:\Diplom\dipp\myrezume\media\arbeit\media\NS_nSHBsUF.pdf">Открыть в отдельном окне</a>
</div>
<div><iframe src="D:\Diplom\dipp\myrezume\media\arbeit\media\NS_nSHBsUF.pdf" alt="Чертеж" width="840px" height="420px">
    <a href="D:\Diplom\dipp\myrezume\media\arbeit\media\NS_nSHBsUF.pdf">Открыть в отдельном окне</a></iframe>
</div>
</body>
</html>